*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
   
}

:root{
   --background-main: rgb(171, 177, 245);
}

.bg{
    background-image: linear-gradient(blue, black);
}

body{
    background-color: var(--background-main);
}

.empty-box1{
height: 150px;
}



.profile{
    height: 80%;
    width: 45%;
    border-radius: 50%;
    margin-left: 100px;
}




.last-words{
        color: rgb(60, 108, 240);
    }